

.msg-tit {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 0.38rem;
  color: #222;
  font-weight: bold;
}
.msg-info {
  font-size: 0.24rem;
  color: #666;
  line-height: 0.48rem;
  padding-top: 0.1rem;
  padding-bottom: 0.3rem;
  .time {
    padding-left: 0.4rem;
  }
}
.msg-cont {
  font-size: 0.24rem;
  color: #333;
  line-height: 0.4rem;
}