.none-wrapper {
  .none-pic {
    width: 2.78rem;
    height: 2.14rem;
    margin-left: auto;
    margin-right: auto;
    background: url(../../assets/images/common/none.png) center center no-repeat;
    background-size: 100% 100%;
  }

  .none-tips {
    padding-left: 16%;
    padding-right: 16%;
    font-size: 0.28rem;
    color: #848c92;
    line-height: 0.42rem;
    text-align: center;
  }
}